@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Open Sans";
    color:#fff;
    line-height: 1.6;
    height: 100vh;
    margin: 0px;
}

a{
    color: white;
    transition: color 0.3s;
}

a:link{ text-decoration: none}
a:visited{text-decoration: none}
a:hover{ color: rgb(244, 198, 139)}
a:active{text-decoration:none}

.navbar{
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    height: 60px;
    width: 100%;
    background:rgb(40, 40, 40, 1);
}

.navbar ul{
    font-family: "OpenSans-ExtraBold";
    font-size: 12px;
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li{
    margin: 0rem 1rem;
    padding: 1rem;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}

.navbar ul li a:hover{
    color: rgb(244, 198, 139)
}

section {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

sectionA {
    display: flex; 
    height: 100vh;
}

section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 90vh;
    background-color:rgb(68, 72, 73);
}

section2a {
    display: flex; 
    width: 100%;
    height: 150vh;
    background-color:rgb(68, 72, 73);
}

section3 {
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 750vh;
    
}

.container {
    display: flex;
    width: 90%;
    height: 50vh;
    
}

.col-1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:baseline;
}

.module-content {
    margin-top: 50px;
    margin-bottom: 25px;
    margin-right: 40px;
    margin-left: 40px;
}

.hero-text-heading {
    font-size: 32px;
    text-align: center;
}

.hero-text-description {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    font-style: italic;
}

.container-row {
    height: 100%;
    width: 33%;
    justify-content: center;
    align-items: center;    
    text-align: center;
}

.row-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.row-text {
    display: flex;
    flex-direction: column;
    height: 33%;
    justify-content: center;
    align-items: center;
}

.image {
    position:absolute;
}




.slideDownA {
    position: absolute;
    opacity: 1;
    transition: transform 3s ease-in-out;
}

#buttonStage2 {
    opacity:0;

}

#buttonStage3 {
    opacity:0;

}

#stage1Img {
    visibility: hidden;
}

#stage1Text {
    opacity: 0;
}

#stage2Img {
    visibility: hidden;
}

#stage2Text {
    opacity: 0;
}

#stage3Img {
    visibility: hidden;

}

#stage3Text {
    opacity: 0;
}

.stopSign1 {
    position: absolute;
    margin-top: 400px;
}

.stopSign2 {
    position: absolute;
    margin-top: 725px;
}

.stopSign3 {
    position: absolute;
    margin-top: 1125px;
}



button {
    width: 200px;
    height: 75px;
    border: none;
    color: white;
    background-color: red;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.3s;
    font-size: 1rem;
    letter-spacing: 4px;
    outline: none;
}

button:hover {
    box-shadow: inset 200px 0 0 0 green;
    cursor: pointer;
    color: black;


}

.mydiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}



#v22 {

    
}

#v23 {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    height: 100%;


}

#v23tu {


}

#v23up {


}

#vAss {


}

#vDrug {


}

#vRape {



}

#vRob {



}

#vHom {



}

#vTheft {


}

#mydiv22 {
    width: 1000px;
}

#mydiv23 {
    width: 100%;
}

#mydivASSAULT {
    width: 1000px;
}

#mydivTemple {
    width: 1000px;
}

#mydivUPENN {
    width: 1000px;
}

#mydivDRUG_VIOLATION {
    width: 1000px;
}

#mydivHOMICIDE {
    width: 1000px;
}

#mydivRAPE {
    width: 1000px;
}

#mydivROBBERY {
    width: 1000px;
}

#mydivUPenn {
    width: 1000px;
}

section5{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    width: 100%;
    height: 80vh;
}

section5 a{
    color: #11ABB0;
}

.column {
    display: flex;
    justify-content: space-evenly;
    align-items:baseline;
    text-align:center;
}
